{
  "semi": true,
  "arrowParens": "always",
  "singleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "useTabs": false,
  "tabWidth": 4,
  "vueIndentScriptAndStyle": true,
  "printWidth": 110
}
